<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xiachy.LidRun.Helper</string>
  <key>BundleProgram</key>
  <string>Contents/Library/LaunchDaemons/com.xiachy.LidRun.Helper</string>
  <key>MachServices</key>
  <dict>
    <key>com.xiachy.LidRun.Helper</key>
    <true/>
  </dict>
  <key>AssociatedBundleIdentifiers</key>
  <array>
    <string>com.xiachy.LidRun</string>
  </array>
  <key>StandardErrorPath</key>
  <string>/var/log/LidRunHelper.error.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/LidRunHelper.log</string>
</dict>
</plist>
